<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :documento_identidad %>
  <%= f.text_field :documento_identidad %>
  <%= f.label :nombre %>
  <%= f.text_field :nombre %>
  <%= f.label :apellido %>
  <%= f.text_field :apellido %>
  <%= f.label :direccion %>
  <%= f.text_field :direccion %>
  <%= f.label :telefono %>
  <%= f.text_field :telefono %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :nombre_usuario %>
  <%= f.text_field :nombre_usuario %>
  <%= f.label :contrasena %>
  <%= f.password_field :contrasena %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
